.container {
  padding-top: 60px;
}

.card-signin {
  padding-top: 20px;
  background-color: #00110009;
  border-radius: 5px;
  width: 330px;
  margin: 0 auto;
}

.form-signin {
  width: 330px;
  max-width: 330px;
  padding: 15px;

}
