.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  border: solid red 1px;
}

.aula-card{
  margin: 2%;
  width: 140px;
  border: green solid 1px;
}
